@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,500&family=Poppins:wght@100;200;300;400;500;600;700&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Righteous&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:1px solid red; */
}
@media (max-width: 768px) {
}
.demo-main {
  border: none;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img {
  background-position: center;
  background-size: cover;
  height: 50%;
  border: 2px solid rgba(249, 245, 245, 0.826);
  transition: all ease-in-out 0.6s;
  transition-delay: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: url(src/assets/Hero2/reasturant.jpg);
  /* background-color: blue !important; */
  -webkit-animation: fade-in 3.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 3.7s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@media (max-width: 768px) {
  .demo-detail {
    display: flex;
    height: 100% !important;
    flex-direction: column;
    justify-content: space-around !important;
  }
  .demo-img {
    width: 100% !important;
    margin-bottom: 10px;
    min-height: 400px;
  }
  .img,
  .img2,
  .img3,
  .img4 {
    min-height: 50%;
    background-size: cover;
    background-position: center;
  }
  .demo-head {
    width: 100% !important;
  }
}

.img:hover {
  transform: scale(0.9) !important;
}

.img2:hover {
  transform: scale(0.9) !important;
}

.img3:hover {
  transform: scale(0.9) !important;
}

.img4:hover {
  transform: scale(0.9) !important;
}

.img2 {
  height: 50%;
  margin-top: 5px;
  background-position: center;
  border: 2px solid rgba(249, 245, 245, 0.826);
  transition: all ease-in-out 0.8s;
  transition-delay: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-size: cover;
  background-image: url(src/assets/Hero2/r2.jpg);
  /* background-color: blue !important; */
  -webkit-animation: fade-in 4.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 4.4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.img3 {
  height: 50%;
  border: 2px solid rgba(249, 245, 245, 0.826);
  transition: all ease-in-out 0.8s;
  transition-delay: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-position: center;
  background-size: cover;
  background-image: url(src/assets/Hero2/r3.jpg);
  /* background-color: blue !important; */
  -webkit-animation: fade-in 5.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 5.3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.img4 {
  height: 50%;
  margin-top: 5px !important;
  background-position: center;
  border: 2px solid rgba(249, 245, 245, 0.826);
  transition: all ease-in-out 0.9s;
  transition-delay: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-size: cover;
  background-image: url(src/assets/Hero2/r4.jpg);
  /* background-color: blue !important; */
  -webkit-animation: fade-in 5.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 5.9s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.demo-img {
  /* background-color: aliceblue; */
  width: 45%;
  min-height: 70vh;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.demo-img1 {
  width: 45% !important;
  /* background-color: #aefb2a; */
  padding: 10px 0px !important;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
}

/* .demo-img1 li {
  width: 100% !important;
  margin: 7px 0;
  background-color: rgb(131, 102, 102) !important;
} */

.demo-img2 {
  width: 45% !important;
  /* border: 1px solid  black; */
  /* background-color: brown; */
  padding: 10px 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
}

.demo-img2 li {
  margin: 7px 0;
  width: 100% !important;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*  */

.demo-title {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: white;
  padding: 20px;
  margin: 0 20px;
}

.demo-title h1 {
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 3.6s both;
  font-family: "Josefin Slab", serif;
  font-size: 33px;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }

  100% {
    text-shadow: 0 0 18px rgba(243, 239, 239, 0.473);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }

  100% {
    text-shadow: 0 0 18px rgba(248, 234, 234, 0.521);
  }
}

.demo-title h1:hover {
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.demo-detail {
  display: flex;
  justify-content: space-evenly;
  /* background-color: aliceblue !important; */
  width: 100%;
  min-height: 100%;
}

/* Demo Text */

.demo-head {
  border: 1px solid rgb(255, 251, 251) !important;
  background-color: rgba(25, 40, 53, 0.178);
  /* background-color: blue; */
  width: 45%;
}

.demo-head-detail {
  padding: 15px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.demo-h1 h1 {
  color: rgb(156, 106, 12);
  font-size: 20px;
  font-family: "Alegreya Sans SC", sans-serif;
  letter-spacing: 1px;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }

  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }

  100% {
    text-shadow: 0 6px 18px rgba(252, 249, 249, 0.438);
  }
}

.de-h1-p {
  color: rgb(192, 204, 214);
  /* margin-top: 10px; */
  font-size: 33px;
  letter-spacing: 1px;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
  font-family: "Fira Sans Condensed", sans-serif;
}

.de-p {
  color: rgb(192, 204, 214);
  margin: 5px 0px;
  font-size: 17px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200 !important;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

/* .p0 {
    margin-bottom: 5px !important;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px !important;
 
    letter-spacing: 1px;
    -webkit-animation: text-shadow-drop-center .6s both;
    animation: text-shadow-drop-center .6s both;
} */

.p1 {
  margin-top: 8px !important;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px !important;
  letter-spacing: 1px;
  color: rgb(192, 204, 214);
  display: flex;
  align-items: center;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

.p2 {
  margin-top: 8px !important;
  display: flex;
  align-items: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px !important;
  color: rgb(192, 204, 214);
  letter-spacing: 1px;
  margin-bottom: 5px !important;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

.demo-link {
  position: relative;
  padding: 15px 10px;
  font-family: inherit;
  background-color: var(--color-primary);
  border: 1px solid;
  font-size: 18px;
  font-weight: 600;
  width: 230px;
  text-align: center;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-link:hover a {
  background: linear-gradient(135deg, #aefb2a 0%, #57ebde 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.demo-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: -110%;
  top: -0%;
  background: #aefb2a;
  pointer-events: none;
  margin: auto;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-link:hover {
  letter-spacing: 2px;
  border-image: linear-gradient(135deg, #aefb2a 0%, #57ebde 100%);
  border-image-slice: 1;
}

.demo-link:hover::before {
  left: 110%;
}

.demo-link:active {
  scale: 0.95;
}

.demo-link a {
  text-decoration: none;
  color: rgb(192, 204, 214);
}

/* demo card */

.demo-card:hover {
  transform: scale(0.9) !important;
  box-shadow: rgba(131, 128, 128, 0.1) 0px 10px 50px;
}

.demo-card {
  height: 340px;
  padding: 10px;
  transition: all ease-in-out 0.5s !important;
  background-image: url(src/assets/Hero2/card3.jpg) !important;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(217, 217, 234, 0.25) 0px 50px 100px -20px,
    rgba(31, 8, 8, 0.3) 0px 30px 60px -30px,
    rgba(210, 214, 218, 0.567) 0px -2px 6px 0px inset;
  color: aliceblue;
}

.demo-card-h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Nova Slim", cursive !important;
  height: 90%;
  width: 35%;
}
.demo-card1:hover {
  transform: scale(0.9) !important;
  box-shadow: rgba(131, 128, 128, 0.1) 0px 10px 50px;
}
.demo-card1 {
  height: 340px;
  padding: 15px;
  align-items: center;
  transition: all ease-in-out 0.5s !important;
  display: flex;
  box-shadow: rgba(217, 217, 234, 0.25) 0px 50px 100px -20px,
    rgba(31, 8, 8, 0.3) 0px 30px 60px -30px,
    rgba(210, 214, 218, 0.567) 0px -2px 6px 0px inset;
  color: #57ebde;
  /* width: 45%; */
  background-image: url(src/assets/Hero2/card4.jpg) !important;
  background-size: cover;
  background-position: center;
}

.demo-card-main {
  /* background-color: antiquewhite !important; */
  width: 100% !important;
}
.demo-card-h2 {
  /* background-color: #57ebdf43; */
  height: 70%;
  display: flex;
  font-family: "Charm", cursive;
  justify-content: center;
  flex-direction: column;
}
.demo-card-h3 {
  font-family: "Nova Slim", cursive !important;
}
.demo-card-ha {
  width: 100%;
  display: flex;
  /* background-color: #aefb2a; */
}

.demo-card-btn1 {
  margin-left: 7px !important;
  font-family: "Nova Slim", cursive !important;
  color: #ebd5d5c3 !important;
  font-size: 12px !important;
  background-color: rgba(0, 0, 0, 0.24) !important;
}
.demo-card-btn {
  color: #ebd5d5c3 !important;
  font-family: "Nova Slim", cursive !important;
  font-size: 12px !important;
  background-color: rgba(0, 0, 0, 0.24) !important;
}
@media (max-width: 768px) {
  .demo-card-ha {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .demo-card {
    min-width: 100% !important;
  }
  .demo-card1 {
    min-width: 100% !important;
  }
}
