*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border : 1px solid red */
}
body{
  background-color: rgb(0, 0, 0);
}
/* .bre-cont{ */
/* min-height: 100vh !important; */
/* background-color: rgb(64, 91, 116); */
/* } */